<div class="row">
	<div class="large-12 columns">
		<h6><%= column.gsub('_', ' ').capitalize %></h6>
		
		<%= link_to "Clear #{column.gsub('_', ' ').capitalize}", '#', 
				class: "clear_#{column} clear-link",
				style: !params[column.to_sym].blank? ? "" : "display:none;" %>

		<% for i in jeans.map{|i| i.garment.send(column)}.uniq.sort_by{|e| e} %>
			<label for="checkbox_<%= i.gsub(' ', '_') %>_<%= column %>">
				<%= check_box_tag "#{column}[]", i, 
						params[column.to_sym] ? params[column.to_sym].include?(i) : false, 
						id: "checkbox_#{i.gsub(' ', '_')}_#{column}",
						class: "checkboxes checkboxes_#{column}" %>
				<%= i %>
			</label>
		<% end %>
	</div>
</div>