<%= semantic_form_for [:admin, @item] do |f| %>
	<%= f.inputs 'Garment' do %>
		<% if params[:populate_garment_id] %>
			<div class="item_form_info">
				<b>BRAND:</b> <%= Garment.find(params[:populate_garment_id]).brand %>
			</div>
			<div class="item_form_info">
				<b>MODEL:</b> <%= Garment.find(params[:populate_garment_id]).name %>
			</div>
			<div class="item_form_info">
				<b>FABRIC ORIGIN:</b> <%= Garment.find(params[:populate_garment_id]).fabric_origin %>
			</div>

			<%= f.input :garment_id, :as => :select, 
					collection: options_for_select( Garment.all.map{ |i| [i.name, i.id] }.sort_by{|e| e}, 
					[Garment.find(params[:populate_garment_id]).name, params[:populate_garment_id]] ) %>
		<% elsif params[:id] %>
			<div class="item_form_info">
				<b>BRAND:</b> <%= Item.find(params[:id]).garment.brand %>
			</div>
			<div class="item_form_info">
				<b>MODEL:</b> <%= Item.find(params[:id]).garment.name %>
			</div>
			<div class="item_form_info">
				<b>FABRIC ORIGIN:</b> <%= Item.find(params[:id]).garment.fabric_origin %>
			</div>

			<%= f.input :garment_id, :as => :select, 
					collection: options_for_select( Garment.all.map{ |i| [i.name, i.id] }.sort_by{|e| e}, 
					[Item.find(params[:id]).garment.name, Item.find(params[:id]).garment.id] ) %>
		<% else %>
			<%= f.input :garment_id, :as => :select, 
					collection: options_for_select( Garment.all.map{ |i| [i.name, i.id] }.sort_by{|e| e},
					([Garment.find(params[:item][:garment_id]).name, params[:item][:garment_id]] if params[:item]) ) %>
		<% end %>
	<% end %>

	<% if params[:populate_garment_id] && Garment.find(params[:populate_garment_id]).measurements_url %>
		<%= f.inputs "Url for other measurements" do %>
		
			<% link_to Garment.find(params[:populate_garment_id]).measurements_url, 
						Garment.find(params[:populate_garment_id]).measurements_url,
						:target => "_blank" %>
		<% end %>
	<% end %>
	
	<%= f.inputs 'Size Information' do %>
		<% if params[:populate_garment_id] %>	
			<%= f.input :tag_size, :input_html => { :value => params[:tag_size] } %>
		<% else %>
			<%= f.input :tag_size %>
		<% end %>

		<%= f.input :waist %>
		<%= f.input :front_rise %>
		<%= f.input :thigh %>
		<%= f.input :knee %>
		<%= f.input :leg_opening %>
		<%= f.input :inseam %>
		<%= f.input :admin_user_id, :as => :hidden, :input_html => { :value => current_active_admin_user.id } %>

		<% if current_active_admin_user.role == "admin" %>
			<%= f.input :approval, :as => :radio, collection: [true, false] %>
		<% end %>
	<% end %>

	<%= f.actions %>
<% end %>